[Desktop Entry]
Name=Debian Nvidia Installer
Name[pt_BR]=Instalador Nvidia para Debian
Name[en_US]=Debian Nvidia Installer

Comment=Nvidia driver manager for Debian
Comment[pt_BR]=Gerenciador de drivers da Nvidia para Debian
Comment[en_US]=Nvidia driver manager for Debian

Exec=pkexec /usr/bin/debian-nvidia-installer
Icon=debian-nvidia-installer
Terminal=true
Type=Application
Categories=Utility;
