Package: debian-nvidia-installer
Version: 0.0.1
Section: utils
Priority: optional
Architecture: all
Maintainer: Leonardo Amaral <leonardo_amaral98@hotmail.com>
Depends: bash, coreutils, mokutil, dialog, grep, sed, pciutils, apt, awk
Description: Instalador de drivers NVIDIA com TUI em Bash
 A ferramenta permite instalar drivers NVIDIA no Debian usando uma interface
 interativa em modo texto (TUI). Automatiza etapas como instalação de pacotes,
 verificação de compatibilidade e configuração do ambiente gráfico.
